version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.15

    working_directory: ~/repo

    steps:
      - checkout
      - run: npm ci
      - run: npm test
      - run: ./node_modules/coveralls/bin/coveralls.js < coverage/lcov.info
      # - run: make docs # this is broken on https://github.com/TypeStrong/typedoc/pull/1014

      - store_artifacts:
          path: coverage
          destination: coverage
      - store_artifacts:
          path: docs-build
          destination: docs-build
